{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset 
for your user account at {{ site_name }}. Go to the following link to reset your 
password:{% endblocktrans %}
{% block reset_link %}
    http://localhost:3000/accounts/password/reset/confirm/{{ uid }}/{{ token }}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}