{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset 
for your user account at {{ site_name }}.{% endblocktrans %}
{% block reset_link %}
<a href="http://localhost:3000/accounts/password/reset/confirm/{{ uid }}/{{ token }}" target="_blank">Click here</a> and choose a new password.
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}