arabic-reshaper==2.1.1
asgiref==3.2.7
astroid==2.3.2
autopep8==1.4.4
colorama==0.4.1
dj-rest-auth==2.1.3
Django==3.0.7
django-cleanup==5.1.0
django-cors-headers==3.2.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
future==0.18.2
html5lib==1.1
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
mpmath==1.1.0
pbr==5.4.3
Pillow==7.1.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycodestyle==2.5.0
PyJWT==2.4.0
pylint==2.4.3
pylint-django==2.0.11
pylint-plugin-utils==0.6
pyPdf==1.13
PyPDF2==1.26.0
python-bidi==0.4.2
pytz==2019.3
reportlab==3.5.59
six==1.12.0
sqlparse==0.3.1
stevedore==1.31.0
sympy==1.4
typed-ast==1.4.2
webencodings==0.5.1
wrapt==1.11.2
xhtml2pdf==0.2.5
