asgiref==3.2.7
astroid==2.3.2
autopep8==1.4.4
colorama==0.4.1
Django==2.2.10
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
mpmath==1.1.0
pbr==5.4.3
Pillow==7.0.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycodestyle==2.5.0
pylint==2.4.3
pylint-django==2.0.11
pylint-plugin-utils==0.6
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
stevedore==1.31.0
sympy==1.4
typed-ast==1.4.0
virtualenv==16.7.6
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.5
wrapt==1.11.2
