.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

footer{
    position: absolute;
}

.dropdown-item {
    color: rgb(142, 185, 214);
    background-color: #343a40 !important;

}

.dropdown-menu {
    background-color: #343a40 !important;
    float: left;
}

#dropdown-divider {
    float: down;
}
