.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

footer{
    position: absolute;
}

#collasible-nav-dropdown {
    background-color: deeppink !important;
}

.dropdown-item {
    background-color: deeppink !important;
}
