.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img {
    width: 500px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.5);
}

hr.new {
    border: 2px solid black;
    border-radius: 2px;
  }

hr.new1 {
    border: 1px solid black;
    border-radius: 2px;
}

hr.new2 {
    border: 1px solid white;
    border-radius: 2px;
}